body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.invite-member {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.invite-member:hover {
    background-color: #0056b3;
}

.filters {
    margin-bottom: 20px;
}

.search-bar {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.add{
    display:flex;
    gap: 50px;
}
.filter-button {
    background-color: #007bff;
    color: #fff;
    border:#333;
    border-radius: 25%;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter-group {
    flex: 1;
    margin-right: 10px;
}

.filter-group:last-child {
    margin-right: 0;
}

.members-list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.member-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
}
.img{
    
    width: 30px;  /* Adjust as needed */
    height: 30px;
    border:3px solid #333;
    border-radius: 50%
}

.member-info {
    text-align: left;
}

.member-info h2 {
    margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}

.page-number {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 10px;
}

.previous, .next {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.previous:hover, .next:hover {
    background-color: #0056b3;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #333;
    color: #fff;
 }
 
 .footer-item a {
  text-decoration: none;
  color: #fff;
 }