body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.img{
    margin: 0px 20px 0px 10px;
    width: 18px;  /* Adjust as needed */
    height: 18px;
    border:3px solid #333; /* Ensure it's a perfect circle */
    border-radius: 50%
   
}
.recommendations{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    padding:20px;
}
.upcoming-events{

    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.learning-paths{
    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.network-suggestions{
    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.personalized-recommendations, .engagement-trends, .quick-feedback, .recent-activity {
    margin-bottom: 20px;
}
header{
    display:flex;
    text-align: left;
}
h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 5px;
}

.activity-chart {
    background-color: #e0e0e0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.feedback-options button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.feedback-options button:hover {
    background-color: #0056b3;
}
ul{
    font-size:small;
    margin : 20px;
    padding:20px;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #333;
    color: #fff;
 }
 
 .footer-item a {
  text-decoration: none;
  color: #fff;
 }