<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminlogin.css'%}">
</head>
<body>
    <div class="login-container">
        <h2>Admin Sign In</h2>
        <form>
            <input type="text" placeholder="User Name" required><br>
            <input type="email" placeholder="Email Address" required><br>
            <input type="password" placeholder="Password" required><br>
            <button type="submit"><a href="admin.html">Sign In</a></button>
        </form>
        <p>Or sign in with</p>
        <div class="social-login">
            <img src="google-icon.png" alt="Google" title="Sign in with Google">
            <img src="github-icon.png" alt="GitHub" title="Sign in with GitHub">
        </div>
    </div>
</body>
</html>
